<footer role="contentinfo">
  <div>
    <div class="l-container">
      <div class="l-site-footer">
        <div class="l-site-footer-split">
          <div class="l-stack">
            <div style="text-align: center;">
              <img src="/blue_circle.webp" alt="Made on Earth logo" class="site-logo-footer">
            </div>
            <div class="l-site-name l-site-name--footer">
              <div class="l-site-title site-title">{{ site.name }}</div>
            </div>
            {% if site.shortDesc %}
              <p>{{ site.shortDesc }}</p>
            {% endif %}
          </div>
        </div>
        <div class="powered-by-container">
          <p class="powered-by">Made by</p>
          <img src="/signature.svg" alt="Marcelo" class="site-signature">
          <p class="powered-by">in the summer of 2022</p>
        </div>
      </div>
    </div>
  </div>
</footer>