.l-jumbo {
  padding: 1.5rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.l-jumbo h1 {
  font-size: $SCALE-3;
  letter-spacing: -0.05rem;
  color: var(--THEME_HIGHLIGHT);
}

@media (max-width: 800px) {
  .l-jumbo h1 {
    font-size: $SCALE-2;
  }
  .l-navigation {
    justify-content: space-between;
  }
}

.l-jumbo > * + * {
  margin-top: 1rem;
  max-width: 50ch;
}
